


  


<ion-header>
  <ion-toolbar>
    

    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaulthref= "home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="centrar" style="color: rgb(0, 16, 6);">Subir producto</ion-title>

    

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item class="color-white transparent-border" style="padding-right: 40px">
      <ion-input class="color-text-grey" type = "text" placeholder="Ingrese nombre del produto" [(ngModel)]="producto.nombre" ></ion-input>
    </ion-item>
    <ion-item class="color-white transparent-border" style="padding-right: 40px">
      <ion-input class="color-text-grey" type = "text" placeholder="Ingrese descripcion" [(ngModel)]="producto.descripcion" ></ion-input>
    </ion-item>
    <ion-item class="color-white transparent-border" style="padding-right: 40px">
      <ion-input class="color-text-grey" type = "text" placeholder="Ingrese precio" [(ngModel)]="producto.precio" ></ion-input>
    </ion-item>
    <ion-item class="color-white transparent-border" style="padding-right: 40px">
      <ion-input class="color-text-grey" type = "text" placeholder="Ingrese stock" [(ngModel)]="producto.stock" ></ion-input>
    </ion-item>
    <div style="margin-top: 20px; text-align: center;">
      <input class="centrar" style="margin: 0 auto;" type="file" accept="image/*" (change)="onFileSelected($event)">
    </div>
    <div class="centrar">
      <ion-button class="color-text-white" color="primary" fill="solid" shape="round" (click)="onSubmit()">Agregar Imagen</ion-button>
    </div>
    <p *ngIf="nombreFoto">Nombre de la foto subida: {{ nombreFoto }}</p>
    <div class="centrar">
      <img *ngIf="nombreFoto" [src]="'http://localhost:5000/foto/' + nombreFoto" alt="Foto">
    </div>
    <div class="centrar" style="margin-top:30px">
      <ion-button color="danger" (click)="eliminarFoto(nombreFoto)" *ngIf="nombreFoto">Eliminar</ion-button>
    </div>
</ion-content>