<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Subir Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="color-white transparent-border" style="padding-right: 40px">
    <ion-input class="color-text-grey" type="text" placeholder="Ingrese código del producto" [(ngModel)]="produc.codigo_producto"></ion-input>
  </ion-item>
  <ion-item class="color-white transparent-border" style="padding-right: 40px">
    <ion-input class="color-text-grey" type="text" placeholder="Ingrese nombre del producto" [(ngModel)]="produc.nombre"></ion-input>
  </ion-item>
  <ion-item class="color-white transparent-border" style="padding-right: 40px">
    <ion-input class="color-text-grey" type="text" placeholder="Ingrese descripción" [(ngModel)]="produc.descripcion"></ion-input>
  </ion-item>
  <ion-item class="color-white transparent-border" style="padding-right: 40px">
    <ion-input class="color-text-grey" type="text" placeholder="Ingrese stock" [(ngModel)]="produc.stock"></ion-input>
  </ion-item>
  <ion-item class="color-white transparent-border" style="padding-right: 40px">
    <ion-input class="color-text-grey" type="text" placeholder="Ingrese precio" [(ngModel)]="produc.precio"></ion-input>
  </ion-item>
  <div style="margin-top: 20px; text-align: center;">
    <input class="centrar" style="margin: 0 auto;" type="file" accept="image/*" (change)="onFileSelected($event)">
  </div>
  
  <div class="centrar">
    <ion-button class="color-text-white" color="primary" fill="solid" shape="round" (click)="onSubmit(produc)">Agregar Imagen</ion-button>
  </div>
  <p *ngIf="nombreFoto">Nombre de la foto subida: {{ nombreFoto }}</p>
  <div class="centrar">
    <img *ngIf="nombreFoto" [src]="'http://localhost:5000/foto/' + nombreFoto" alt="Foto">
  </div>
</ion-content>