* {
    --background: #ffffff; /* Cambia el color de fondo aquí */
  }
  
  .color-text-black{
      color: black ;
      font-family:'Dotumche'
  }
  .color-text-white{
      color: rgb(255, 255, 255);;
      font-family:'Dotumche'
  }
  
  .color-text-grey{
      color: rgb(151, 151, 151);;
      font-family: 'Dotumche'
  }
  
  .centrar{
    display:grid;
    place-content: center;
  }
  
  
  .transparent-border {
    border: 1px solid transparent; /* Establece el borde transparente */
    border-color: rgb(151, 151, 151);
    border-radius: 10px; /* Opcional: Agrega bordes redondeados */
  }
    
    
    
    form {
      margin-bottom: 20px; // Margen inferior del formulario
    }
    
    ion-list {
      margin-bottom: 20px; // Margen inferior de la lista
    }
    
  
    
    ion-label {
      color: #666; // Color del texto de las etiquetas
    }
    
    
    /* Estilos para los input[type="file"] */
    
    // input[type="file"] {
    //   display: block; // Mostrar como bloque para separarlo visualmente
    //   margin-bottom: 10px; // Margen inferior del input
    // }
    ion-buttons ion-back-button {
      --color: black;
    }