<ion-header class="color-white">
  
</ion-header>
<ion-content class="color-white">
    <h1 class="color-text-black " style="padding-left: 40px;"><strong>Hola</strong>,</h1>
    <h2 class="color-text-black" style="padding-left: 40px;">Bienvenido!</h2>
  <ion-card-content>
      <div class="centrar" >
        <p class="color-text-black">Email</p>
        <ion-item class="color-white transparent-border" style="padding-right: 40px">
          <ion-input class="color-text-grey" type = "text" placeholder="Ingresa tu Email"></ion-input>
        </ion-item>
        <p class="color-text-black" style = "margin-top:10px">Clave</p>
        <ion-item class="color-white transparent-border" style="padding-right: 40px">
          <ion-input class="color-text-grey" type = "password" placeholder="Ingrese su Clave" ></ion-input>
        </ion-item>
      </div>
      <a href="" class="centrar" style="text-decoration: none; color: orange; margin-top:15px;padding-right:80px;">¿Olvido su Contraseña?</a> 
      <div class="centrar">
        <ion-button class="color-text-white" style="margin-top:20px" fill="solid" shape="round" (click)="goHome()">Ingresar</ion-button>
      </div>
      <span class="color-text-grey centrar" style="margin-top: 10px">--------------------- O ingrese con --------------------- </span>
      <ion-button fill="clear" class="centrar" style="margin-top: 30px">
        <ion-img class="image-with-border" src="assets/img/google.png" alt=""></ion-img> 
      </ion-button> 
      <p class="color-text-black" style="text-align: center;margin-top: 30px;">¿Aun no tiene cuenta?<a style="color: orange;"><strong> Registrese</strong></a></p>
  </ion-card-content>
  
</ion-content>

