.color-white{
    --background: white ; 
}
.color-text-black{
    color: black ;
    font-family:'Roboto'
}
.color-text-white{
    color: rgb(255, 255, 255);;
    font-family:'Roboto'
}

.color-text-grey{
    color: rgb(151, 151, 151);;
    font-family:'Roboto'
}
.centrar{
    display:grid;
    place-content: center;
}
.margen-top{
   margin-top: 10px ;
}

.transparent-border {
    border: 1px solid transparent; /* Establece el borde transparente */
    border-color: rgb(151, 151, 151);
    border-radius: 10px; /* Opcional: Agrega bordes redondeados */
}

.image-with-border {
    border: 2px solid black; /* Establece un borde de 2px de grosor y color negro */
    box-shadow: 2px 2px 4px rgba(173, 173, 173, 0.5); /* Agrega una sombra con desplazamiento de 2px horizontal y vertical, difuminación de 4px y opacidad de 0.5 */
    border-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 10px; /* Borde redondeado con un radio de 10px */
}

.button-with-image {
    display: inline-block; /* Hace que el botón se comporte como un bloque en línea */
    padding: 0; /* Elimina el relleno del botón para ajustarse al tamaño de la imagen */
    border: none; /* Elimina el borde del botón */
    width: fit-content; /* Ajusta el ancho del botón al tamaño del contenido (en este caso, la imagen) */
    height: fit-content; /* Ajusta la altura del botón al tamaño del contenido (en este caso, la imagen) */


}

ion-input{
    border-bottom: none;/* Elimina la línea que se genera debajo del texto */
    --highlight-height: 0;
}

