* {
    --background: #ffffff; /* Cambia el color de fondo aquí */
}

.color-text-black{
    color: black ;
    font-family:'Roboto'
}

.color-text-grey{
    color: rgb(151, 151, 151);;
    font-family:'Roboto'
}