<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaultHref="home" text="" color="rgb(165, 17, 233)"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: black;">Producto</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-chip slot="end" color="light">
      Valor Dólar: {{ dollarPrice }} | Fecha: {{ dollarDate }}
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-button class="transparent-border" slot="end" fill="clear" (click)="openFilterMenu()">
      <ion-icon style="color: black;" src="./assets/icon/options.svg"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <!-- Contenido principal aquí -->
  <ion-row class="ion-align-items-stretch">
    <ion-col size="6" size-md="2" size-lg="3" *ngFor="let producto of productos" (click)="goDetalleProducto(producto)">
      <ion-card class="carta">
        <ion-card-header>
          <img [src]="'http://localhost:5000/foto/' + producto.imagen" alt="Imagen" style="width: 90%; height: auto;">
        </ion-card-header>
        <ion-card-content class="ion-text-wrap">
          <ion-card-title class="carta-titulo">{{ producto.nombre }}</ion-card-title>
          Precio: {{ producto.precio }} <br>
          Descripción: {{ producto.descripcion }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>