
<ion-menu contentId="main-content">
  
  <ion-header>
    
    <ion-toolbar>
      <ion-title style="color: black">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="vertical-buttons">
    <ion-button fill="clear" (click)="salir()">
      Novedades
    </ion-button>
    <ion-button fill="clear" (click)="salir()">
      Preguntas frecuentes
    </ion-button>
    <ion-button fill="clear" (click)="salir()">
      Contacto
    </ion-button>
    
  </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons style="color: black;" slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-back-button (click)="goBack()" text="" color="rgb(165, 17, 233)"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  <ion-content>
    <div class="centrar">
        <ion-img class="imge" src="assets/img/logof.png"></ion-img>
    </div>
    <ion-card-content>
      <div class="social-btns centrar">
    
        <div>
          <p class="centrar" style="color: rgb(6, 62, 45);font-weight: bold;">Construyendo tus proyectos</p>
        </div>
      </div>
      <div class="centrar" style="display: flex; margin-top: 20px;">
        <ion-button style="margin-right: 50px;" class="boton-circular" shape="round" expand="full" style="margin-left: 20px;" (click)="goSubirfoto()" >
          <div class="icono-imagen-izquierdo"></div>
        </ion-button>
        <ion-button style="margin-right: 50x;" class="boton-circular" shape="round" expand="full" style="margin-left: 70px;" (click)="goProducto()" >
          <div class="icono-imagen-derecho"></div>
        </ion-button>
      </div>
      <div class="centrar" style="display: flex;">
        <h1 class="color-text-black" style="margin-left: 10px;margin-right: 85px;">Subir</h1>
        <h1 class="color-text-black">Buscar</h1>
      </div>
    </ion-card-content>

   
</ion-content>
